<figure>
    <a class="lightbox-image gallery" href="{{ include.url | relative_url }}" title="{{ include.shortCap }}">
        <img class="babyImg"
            src="{{ include.url | relative_url }}" alt="{{ include.shortCap }}" title="{{ include.shortCap }}" align="center">
        
        </a>
        <!-- <img class="babyImg" src="{{ include.url | relative_url }}"
        alt="{{ include.shortCap }}" align="center"> -->
    <figcaption>{{ include.caption }}</figcaption>
</figure>

<style>
    .babyImg {
        /* height: "480"; */
        padding: 5%
    }
</style>