<html>

<body>
    <div id="vis1"></div>

    <script type="text/javascript">
        var yourVlSpec1 = {

            "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
            "data": {
                "url": "assets/monthYearN.csv"
            },
            "title": "Number of participants throughout the years",
            "config": {
                "view": {
                    "strokeWidth": 0,
                    "step": 40
                },
                "title": {
                    "fontSize": 16
                },
                "axis": {
                    "domain": false,
                    "labelFontSize": 12,
                    "titleFontSize": 14
                }
            },
            "mark": {
                "type": "rect",
                "stroke": "#353535"
            },
            "encoding": {
                "x": {
                    "field": "Month",
                    "type": "ordinal",
                    "title": "Month",
                    "sort": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    "axis": {
                        "labelAngle": 0,
                    }
                },
                "y": {
                    "field": "Year",
                    "type": "ordinal",
                    "title": "Year"
                },
                "color": {
                    "field": "NumberOfParticipants",
                    "scale": { "scheme": "lighttealblue" },
                    "aggregate": "max",
                    "type": "quantitative",
                    "legend": {
                        "title": null
                    }
                }
            }

        };
        vegaEmbed('#vis1', yourVlSpec1);

    </script>
</body>

</html>